*{
    margin:0px;
    padding:0px;
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
}

#header{
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
#flashErrorMessages{
    background-color: yellow;
    color: red;
}


#flashNoErrorMessages{
    background-color: white;
}

#fields{
    /* margin-left: 10px; */
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 200px;
}

.values{
    display: inline-block; 
    padding:1px;
    background-color:green;
    width: 250px;
    vertical-align: top;
}

select{
    width: 200px;
}

/* h1{
    color:red;
} */

input{
    background-color: white;
    color: gray;
    width: 200px;
}   


#glen{
    width: 500px;
    height: 200px;
    margin: 0px auto;
    outline: solid 2px black;
    background-color: blue;
}
/* 
p{
    text-align:left;
} */



